{% extends 'base.html'%}
{% load static %}
{% block contenido %}
    
        <section class="mision">
            <div class="mision_texto">
                <h1 class="texto">Nuestra Misión</h1>
                <h2>Nuestro principal objetivo es construinos colectivamente a través del Arte, promoviendo políticas de inclusión, ampliando el acceso a la educación.</h2>
            </div>
            
            
            
            <div class="mision_imagen"> 
                <img src="{% static '/img/QuienesSomos-1.jpg'%}" style="width:600px;max-height:600px;" alt="imagen"> 
                    
            </div>
        </section>


        <section class="vision">
            <div class="vision_texto">
                <h1 class="texto">Nuestra Visión</h1>
                <h2>Poder llegar a más niños, que descubran su arte y su pasión, logrando de esta manera tener una experiencia de vida que los enriquezca y contribuya con su crecimento.</h2>
            </div>
    
            <div class="vision_imagen"> 
                <img src="{% static '/img/QuienesSomos-2.jpg'%}" style="width:600px;max-height:600px;" alt="imagen"> 
                    
            </div>
        </section>

        <section class="valores">
            <div class="valores_texto">
                <h1 class="texto">Nuestros valores</h1>
                <h2>Texto de valores</h2>
            </div>
    
            <div class="presentacion_imagen"> 
                <img src="{% static '/img/QuienesSomos-3.jpg'%}" style="width:600px;max-height:4600px00px;"  alt="imagen"> 
                    
            </div>
        </section>
    
        
{% endblock %}
 