{% extends 'base.html'%}
{% load static %}
{% block contenido %}
    
        <section class="mision">
            <div class="mision_texto">
                <h1 class="texto">Nuestra mision</h1>
                <h2>Nuestro principal objetivo es construinos colectivamente a través del Arte, promoviendo políticas de inclusión, ampliando el acceso a la educación.</h2>
            </div>
            
            
            
            <div class="mision_imagen"> 
                <img src="{% static '/img/presentacionimagen.svg'%}" alt="iamgen"> 
                    
            </div>
        </section>


        <section class="vision">
            <div class="vision_texto">
                <h1 class="texto">Nuestra Vision</h1>
                <h2>Texto de vision</h2>
            </div>
    
            <div class="vision_imagen"> 
                <img src="{% static '/img/presentacionimagen.svg'%}" alt="iamgen"> 
                    
            </div>
        </section>

        <section class="valores">
            <div class="valores_texto">
                <h1 class="texto">Nuestros valores</h1>
                <h2>Texto de valores</h2>
            </div>
    
            <div class="presentacion_imagen"> 
                <img src="{% static '/img/presentacionimagen.svg'%}" alt="iamgen"> 
                    
            </div>
        </section>
    
        
{% endblock %}
 